<mat-tab-group>
  <mat-tab label="Songs">
    <div class=" bg-neutral-100">
    <app-friends-recommendations class="block rounded-3xl bg-neutral-100 p-2 py-5 sm:p-10" *ngIf="this.songs.length>0" [items]="this.songs"></app-friends-recommendations>
    <app-your-songs-list></app-your-songs-list>
</div>
  </mat-tab>
  <mat-tab label="Books">
    <app-friends-recommendations class="block rounded-3xl bg-neutral-100 p-2 py-5 sm:p-10" *ngIf="this.songs.length>0" [items]="this.songs"></app-friends-recommendations>
    <app-your-books-list></app-your-books-list>
  </mat-tab>
</mat-tab-group>
