<div class="px-16">
    <div class="py-4">
        <p class="text-3xl">Your Songs</p>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Title
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Album
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date Added
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Duration
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{songs[0][0]}}
                    </th>
                    <td class="px-6 py-4">
                        {{songs[0][1]}}
                    </td>
                    <td class="px-6 py-4">
                        {{songs[0][2]}}
                    </td>
                    <td class="px-6 py-4">
                        {{songs[0][3]}}
                    </td>
                    <td class="px-6 py-4">
                        {{songs[0][4]}}
                    </td>
                    <th scope="col" class="px-6 py-3">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </th>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{songs[1][0]}}
                    </th>
                    <td class="px-6 py-4">
                        {{songs[1][1]}}
                    </td>
                    <td class="px-6 py-4">
                        {{songs[1][2]}}
                    </td>
                    <td class="px-6 py-4">
                        {{songs[1][3]}}
                    </td>
                    <td class="px-6 py-4">
                        {{songs[1][4]}}
                    </td>
                    <th scope="col" class="px-6 py-3">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </th>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        3
                    </th>
                    <td class="px-6 py-4">
                        Alala
                    </td>
                    <td class="px-6 py-4">
                        Azulejos
                    </td>
                    <td class="px-6 py-4">
                        2 weeks ago
                    </td>
                    <td class="px-6 py-4">
                        3:13
                    </td>
                    <th scope="col" class="px-6 py-3">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </th>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        4
                    </th>
                    <td class="px-6 py-4">
                        Alala
                    </td>
                    <td class="px-6 py-4">
                        Azulejos
                    </td>
                    <td class="px-6 py-4">
                        2 weeks ago
                    </td>
                    <td class="px-6 py-4">
                        3:13
                    </td>
                    <th scope="col" class="px-6 py-3">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </th>
                </tr>
                <tr>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        5
                    </th>
                    <td class="px-6 py-4">
                        Alala
                    </td>
                    <td class="px-6 py-4">
                        Azulejos
                    </td>
                    <td class="px-6 py-4">
                        2 weeks ago
                    </td>
                    <td class="px-6 py-4">
                        3:13
                    </td>
                    <th scope="col" class="px-6 py-3">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>    
</div>